<div class="mb-8 flex items-center justify-between">
  <div class="text-xs font-bold">View from: <span class="text-purple-800"> basic 6</span></div>
  <%= link_to "Add Student", new_student_path, class: "btn-primary" %>
</div>

  <div class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-6 gap-6">
    <%= render @students %>
  </div>
