  <table class="w-full md:w-3/5 border-collapse border border-gray-300 bg-white shadow-md rounded">
    <thead>
      <tr class="bg-gray-200 text-gray-700">
        <th class="px-4 py-2 font-semibold text-left border border-gray-300">Name</th>
        <th class="px-4 py-2 font-semibold text-left border border-gray-300">Teachers</th>
      </tr>
    </thead>
    <tbody>
      <% @subjects.each do |subject| %>
        <tr class="even:bg-gray-200 hover:bg-gray-100">
          <td class="px-4 py-2 underline font-medium border border-gray-300 text-purple-700 hover:text-purple-500 transition duration-300"><%= link_to subject.subject_name, subject_path(subject) %></td>
          <td class="px-4 py-2 border border-gray-300 text-gray-700">
            <% subject.teachers.map do |teacher| %>
              <ul class="list-disc list-inside">
                <li class=""><%= teacher.fullname %></li>
              </ul>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
