<h1><%= @subject.subject_name %></h1>

<p>
  <strong>Teachers:</strong>
  <%= @subject.teachers.map(&:username).join(', ') %>
</p>

<%= link_to 'Edit', edit_subject_path(@subject) %> |
<%= link_to 'Back', subjects_path %>
