<h1 class="text-4xl font-bold text-center text-gray-800">Edit School</h1>
<div id="edit" class="max-w-xl mx-auto bg-white rounded-lg shadow-xl mt-8 p-10">
  <%= render "form", school: @school %>
</div>

