<h1 class="mb-8 text-4xl text-center font-bold">Edit <%= @report.student.fullname %> </h1>

<div class="flex items-center justify-center">
  <div>
    <%= render 'form', student: @student, report: @report %>
    <%= link_to "Cancel", student_reports_path(@student), class: "mt-4 btn-cancel" %>
  </div>
</div>