<div class="mb-12 flex items-center justify-between">
  <h1 class="text-4xl font-bold">Cutoff Percentages</h1>
  <%= link_to "New cutoff percentage", new_cutoff_path, class: "btn-primary hover:bg-blue-500 hover:scale-105 transition-all duration-300" %>
</div>

<table class="table-auto w-full bg-white shadow-md rounded-lg">
  <thead>
    <tr class="bg-gray-500 text-white">
      <th clas="px-4 py-2">Current Basic</th>
      <th clas="px-4 py-2">Class Percentage</th>
      <th clas="px-4 py-2">Exam Percentage</th>
      <th clas="px-4 py-2">Actions</th>
    </tr>
  </thead>

  <tbody>
    <%= render @cutoffs %>
  </tbody>
</table>
