<h1 class="mb-12 text-lg md:text-4xl text-center font-bold"><%= @cutoff.current_basic.humanize %> grade scale</h1>
  
  <div class="overflow-x-auto">
    <table class="table-auto w-full bg-white shadow-md rounded-lg">
      <thead>
        <tr class="bg-gray-500 text-white">
          <th clas="px-4 py-2">Class</th>
          <th clas="px-4 py-2">Class Percentage</th>
          <th clas="px-4 py-2">Exam Percentage</th>
          <th clas="px-4 py-2">Total Subject</th>
          <th clas="px-4 py-2">Actions</th>
        </tr>
      </thead>

      <tbody>
        <%= render "cutoff", cutoff: @cutoff %>
      </tbody>
    </table>
  </div>
  <%= link_to "&larr; Back".html_safe, cutoffs_path, class: "mt-4 btn-cancel" %>
